<!DOCTYPE html >
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>RingoJS Package Registry</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="screen, handheld" title="CSS Stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen, handheld" title="CSS Stylesheet" href="/css/main.css" />
    <script type="text/javascript" src="/js/lib/require-min.js" data-main="/js/init.built"></script>
</head>
<body>

    <header>
        <nav class="navigation">
            <h1>
                <a href="http://ringojs.org/"><img src="/images/ringojs-logo.png" alt="RingoJS" title="Home" /></a>
            </h1>
            <ul>
                <li><a href="https://github.com/grob/rp/wiki/">Documentation</a></li>
            </ul>
        </nav>
    </header>

    <div class="main">
        <input id="search" type="text" placeholder="Search" />
        <div id="list">
            <ul id="result"></ul>
            <a id="loadmore" href="#">More packages&hellip;</a>
        </div>
    </div>

    <script id="tmpl-package" type="text/html">
        <h2><a href="/packages/{{ name }}">{{ name }}</a> {{ latest }}</h2>
        <p>{{ description }}</p>
        <ul class="menu">
            <li class="details">Details</li>
            <li class="versions">Versions</li>
        </ul>
        <div class="tab"></div>
    </script>

    <script id="tmpl-details" type="text/html">
        <dt>Keywords</dt>
        <dd>
            {% for keyword in keywords %}
                <a href="/search/{{ keyword | url_encode }}">{{ keyword }}</a>
            {% endfor %}
        </dd>
        {% if engines|length > 0 %}
            <dt>Engines</dt>
            <dd>
                <ul>
                {% for spec in engines %}
                    <li>{{ loop.key }} ({{ spec }})</li>
                {% endfor %}
                </ul>
            </dd>
        {% endif %}
        <dt>Dependencies</dt>
        <dd>
            <ul>
            {% if dependencies|length > 0 %}
                {% for spec in dependencies %}
                    <li><a href="/packages/{{ loop.key | url_encode }}">{{ loop.key }}</a> {{ spec }}</li>
                {% endfor %}
            {% else %}
                <li>none</li>
            {% endif %}
            </ul>
        </dd>
        <dt>Author</dt>
        <dd>
            {% if author.web %}
                <a href="{{ author.web }}">{{ author.name }}</a>
            {% else %}
                {{ author.name }}
            {% endif %}
        </dd>
        {% if author.homepage %}
            <dt>Website</dt>
            <dd><a href="{{ author.homepage }}">{{ author.homepage }}</a></dd>
        {% endif %}
        {% if repositories|length > 0 %}
            <dt>Repositories</dt>
            <dd>
                <ul>
                {% for repo in repositories %}
                <li>{{ repo.type }}: <a href="{{ repo.url }}{{ repo.path }}">{{ repo.url }}{{ repo.path }}</a></li>
                {% endfor %}
                </ul>
            </dd>
        {% endif %}
        {% if licenses|length > 0 %}
            <dt>Licenses</dt>
            <dd>
                <ul>
                {% for license in licenses %}
                    <li><a href="{{ license.url }}">{{ license.type }}</a></li>
                {% endfor %}
                </ul>
            </dd>
        {% endif %}
        <dt>Last modified</dt>
        <dd>{{ modified | date("d. M. Y, H:i") }}</dd>
        {% if maintainers|length > 0 %}
            <dt>Maintainers</dt>
            <dd>
                <ul>
                {% for maintainer in maintainers %}
                    <li>
                        {% if maintainer.web %}
                            <a href="{{ maintainer.web }}">{{ maintainer.name }}</a>
                        {% else %}
                            {{ maintainer.name }}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </dd>
        {% endif %}
        {% if contributors|length > 0 %}
            <dt>Contributors</dt>
            <dd>
                <ul>
                {% for contributor in contributors %}
                    <li>
                        {% if contributor.web %}
                            <a href="{{ contributor.web }}">{{ contributor.name }}</a>
                        {% else %}
                            {{ contributor.name }}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </dd>
        {% endif %}
    </script>

    <script id="tmpl-versions" type="text/html">
        {% for version in versions %}
            <dt>{{ version.version }}</dt>
            <dd>
                <dl>
                    <dt>Published</dt>
                    <dd>{{ version.modified | date("d. M. Y, H:i") }}</dd>
                    <dt>Dependencies</dt>
                    <dd>
                        <ul>
                        {% if dependencies|length > 0 %}
                            {% for spec in dependencies %}
                                <li><a href="/packages/{{ loop.key }}">{{ loop.key }}</a> {{ spec }}</li>
                            {% endfor %}
                        {% else %}
                            <li>none</li>
                        {% endif %}
                        </ul>
                    </dd>
                    {% if engines|length > 0 %}
                        <dt>Engines</dt>
                        <dd>
                            <ul>
                            {% for spec in engines %}
                                <li>{{ loop.key }} ({{ spec }})</li>
                            {% endfor %}
                            </ul>
                        </dd>
                    {% endif %}
                    <dt>Download</dt>
                    <dd><a href="/download/{{ version.filename }}">{{ version.filename }}</a> ({{ version.filesize | filesize }})</dd>
                    {% if repositories|length > 0 %}
                        <dt>Repositories</dt>
                        <dd>
                            <ul>
                            {% for repo in repositories %}
                                <li>{{ repo.type }}: <a href="{{ repo.url }}{{ repo.path }}">{{ repo.url }}{{ repo.path }}</a></li>
                            {% endfor %}
                            </ul>
                        </dd>
                    {% endif %}
                    {% if licenses|length > 0 %}
                        <dt>Licenses</dt>
                        <dd>
                            <ul>
                            {% for license in licenses %}
                                <li><a href="{{ license.url }}">{{ license.type }}</a></li>
                            {% endfor %}
                            </ul>
                        </dd>
                    {% endif %}
                    <dt class="checksums">Checksums</dt>
                    <dd class="checksums">
                        <dl>
                            <dt>md5</dt>
                            <dd>{{ checksums.md5 }}</dd>
                            <dt>sha1</dt>
                            <dd>{{ checksums.sha1 }}</dd>
                            <dt>sha256</dt>
                            <dd>{{ checksums.sha256 }}</dd>
                        </dl>
                    </dd>
                </dl>
            </dd>
        {% endfor %}
    </script>
</body>
</html>